

### Contribution

You need to add source to both [feeds.opml](./feeds.opml) and README.md. You can also generate README.md from `feeds.opml` by running the following script:

```bash
$ pip install -r requirements.txt
$ python generate_readme.py
```

### LICENSE

[CCO-1.0](./LICENSE)