# **Awesome startup and science RSS feeds**

A collection of awesome rss schannels related to startup, science and technology.

### How to Use

There is single file [feeds.opml](./feeds.opml) that contains all RSS channels in this list so you can import into your favorite RSS software.
If you just want to add a specific RSS channel, just click on the copy button beside your rss link to copy it.
